# numpy==1.26.4
# torch==2.1.2
# torchvision==0.16.2
# opencv-python==4.11.0.86
# streamlit
# transformers
# diffusers
# realesrgan
# pillow
# mediapipe==0.10.14


streamlit
opencv-python
numpy
Pillow
torch
torchvision
mediapipe
transformers
diffusers
accelerate
sentencepiece
realesrgan
basicsr
facexlib
gfpgan
scikit-image
scipy
ultralytics
torchaudio
safetensors
PyWavelets